.tab-icon {
	font-size:24px;
	vertical-align: middle;
	margin-left: -24px;
}

.toggle-icon {
	color: white;
	cursor: pointer;
}

.clickable {
	cursor: pointer;
}

.toggle-icon:hover {
	color: rgb(200,225,225);
}

body {
	padding-top: 62px; /* need padding for fixed-top navbar */
}

.set_your_goals_help {
	font-size: 14px;
	color: rgb(130,130,150);
}

.set_your_goals_opt {
	padding-left: 50px;
}

#page-content-wrapper {
	color: rgb(68, 68, 68);
	/*background: rgb(239, 248, 255)*/;
}